<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationpopc">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- For older devices (API 29–32) -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="true"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplicationPOPC">
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- Main Activity (Launcher) -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Second Activity (Login) -->
        <activity
            android:name=".SecondActivity"
            android:exported="false"
           />


        <!-- Register Activity -->
        <activity
            android:name=".RegisterActivity"
            android:exported="false"
            />

        <!-- Home Activity -->
        <activity
            android:name=".DoctorHomeActivity"
            android:exported="false"
            />
        <!-- Settings Activity -->
        <activity
            android:name=".SettingsActivity"
            android:exported="false"
            />

        <!-- change password Activity -->
        <activity
            android:name=".ChangePasswordActivity"
            android:exported="false"
            />
        <!-- change username Activity -->
        <activity
            android:name=".ChangeUsernameActivity"
            android:exported="false"
            />


        <!-- Profile Activity -->
        <activity
            android:name=".ProfileActivity"
            android:exported="false"
            />

        <!--Details Activity -->

        <activity
            android:name=".DetailsActivity"
            android:exported="false"
            />

        <!--Survey ListActivity -->

        <activity
            android:name=".SurveyListActivity"
            android:exported="false"
             />

        <!--Survey DisplayActivity-->

        <activity
            android:name=".SurveyDisplayActivity"
            android:exported="false"
            />

        <activity
            android:name=".PendingSurveysActivity"
            android:exported="false"
             />



        <!-- patient management Activity -->
        <activity
            android:name=".PatientManagementActivity"
            android:exported="false"
            />
        <!--  EditPatientListActivity  -->
        <activity
            android:name=".EditPatientListActivity"
            android:exported="false"
           />
        <!-- EditPatientActivity -->
        <activity
            android:name=".EditPatientActivity"
            android:exported="false"
             />
        <!-- AddPatientActivity -->
        <activity
            android:name=".AddPatientActivity"
            android:exported="false"
             />
            <!--  viewPatientListActivity  -->
            <activity
                android:name=".ViewPatientListActivity"
                android:exported="false"
                 />

        <!-- ViewPatientActivity -->
        <activity
            android:name=".ViewPatientActivity"
            android:exported="false"
            />
        <!-- DeletePatientActivity -->
        <activity
            android:name=".DeletePatientActivity"
            android:exported="false"
             />
        <!-- Question Activity -->
        <activity
            android:name=".PatientDemographicsActivity"
            android:exported="false"
            />

          <activity
                 android:name=".MedicalHistoryActivity"
                 android:exported="false"
                 />

            <activity
              android:name=".PreoperativeConsiderationsActivity"
              android:exported="false"
             />

               <activity
                   android:name=".SurgeryFactorsActivity"
                   android:exported="false"
                   />

               <activity
                   android:name=".PlannedAnesthesiaActivity"
                   android:exported="false"
                    />

               <activity
                   android:name=".PostoperativeActivity"
                   android:exported="false"
                   />

           <activity
              android:name=".ScoreActivity"
              android:exported="false"
               />


         </application>
     </manifest>
